@use 'fonts';
@use 'colors';

// @import 'fonts-and-colors';

// $main-font: 'Mulish', sans-serif;
// $font-regular: 400;
// $font-bold: 700;
// $font-italic: italic;

// $main-color: #111111;

header {
    max-width: 1109px;
    width: 100%;
    height: 2vh;
    margin-top: 60px;
    display: flex;    
    justify-content: space-between;
    align-items: baseline;    
    .nav {
        font-family: fonts.$main-font;
        font-style: normal;
        font-weight: fonts.$bold;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height */
        letter-spacing: -0.346154px;
        color: colors.$main-color;
        &__list {
            min-width: 66px + 67px + 29px;
            display: flex;
            justify-content: space-between;
        }

        &__link {
            text-decoration: none;
            color: colors.$main-color;
        }

        &__link:hover {
            color: colors.$link-color;
        }
    }
}
