@use 'fonts';
@use 'colors';
@use 'sass:math';

// Testing 
// $max-width-left-container: math.div(635px, 1110px) * 100%;

.project-info-container {
    margin-top: math.div(100px, 1110px) * 100%;
    @include fonts.font-normal;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    &__left {
        max-width: math.div(635px, 1110px) * 100%;
        width: 100%;
        box-sizing: border-box;
        h1 {
            margin-bottom: 29px;
            font-weight: fonts.$bold;
            font-size: fonts.$size-h1;
            line-height: 55px;
        }

        p {
            margin-top: 19px;
            font-weight: fonts.$regular;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */
            color: colors.$main-color;
            mix-blend-mode: normal;
            opacity: 0.8;
        }
    }

    &__right {
        max-width: math.div(335px, 1110px) * 100%;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(6 minmax(10px, 1fr));
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 1.5fr);
        grid-auto-flow: row;
        align-items: end;
        h3 {
            font-weight: fonts.$bold;
            @include fonts.h3-size-line;
            color: colors.$main-color;
        }

        .gray-line {
            max-width: 335px;
            width: 100%;
            height: 1px;
            background: #D8D8D8;
            mix-blend-mode: normal;
            opacity: 0.3;
            border: 1px solid #979797;
            box-sizing: border-box;
            z-index: 1;
        }

        .gray-heading {
            mix-blend-mode: normal;
            opacity: 0.5;
        }

        .line1 {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }

        .line2 {
            grid-row: 4 / 5;
            grid-column: 1 / 3;
        }

        .line3 {
            grid-row: 6 / 7;
            grid-column: 1 / 3;
        }

        .line4 {
            grid-row: 8 / 9;
            grid-column: 1 / 3;
        }

        .line5 {
            grid-row: 10 / 11;
            grid-column: 1 / 3;
        }

        .line6 {
            grid-row: 12 / 13;
            grid-column: 1 / 3;
        }
    }
}