@use 'fonts';
@use 'colors';

@import 'header';
@import 'intro-section';
@import 'main-pictures-section';
@import 'main-info-section';
@import 'awards-table-section';
@import 'footer';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1110px;
    width: 100%;
    margin-top: 96px;

    .divider {
        max-width: 1110px;
        width: 100%;
        min-height: 2px;
        background: #D8D8D8;
    }
}