@use 'fonts';
@use 'colors';

@import 'header';
@import 'intro-section';
@import 'main-pictures-section';
@import 'main-info-section';
@import 'awards-table-section';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1110px;
    width: 100%;
    margin-top: 96px;
}