@use 'fonts';
@use 'colors';
@use 'sass:math';

@import 'header';
@import 'intro-section';
@import 'main-pictures-section';
@import 'main-info-section';
@import 'awards-table-section';
@import 'footer';

body {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1110px;
    width: 100%;
    .divider {
        max-width: 1110px;
        width: 100%;
        min-height: 2px;
        margin-bottom: math.div(50px, 1110px) * 100%;
        background: #D8D8D8;
    }

    .divider-middle {
        margin-top: math.div(58px, 1110px) * 100%;
    }

    .divider-bottom {
        margin-top: math.div(57px, 1110px) * 100%;
    }
}